*{ margin: 0; padding: 0;}

body { background-color: #A9D18E;;}

@font-face{}


.title { display: grid;
        font-family: 'Black Han Sans', sans-serif;
        font-style: normal;
        url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap);
        font-size: 50px;
        position: relative;
        text-shadow: 2px 2px 7px rgba(46,46,46,0.3);
        top: 190px;
        width: 100%; height: 25px;
        padding: 15px 0;
        color: white;
        text-align: center;
        }

.title .title_head {
        display: grid;
        text-align: center;
        background-color: #A9D18E;
        text-align: center;
        align-items: center;
        }


.main { display: grid;
        text-align: center;
        background-color: #A9D18E;
        text-align: center;
        align-items: center;
        }

.main .form { min-height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        flex-direction: column;}

.main .form .what_money { background-color: #fff;
        border-radius: 7px 7px 7px 7px;
        text-align: left;
        width: 460px;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border:none;}

.main .form .m_category { background-color: #fff;
        border-radius: 7px 7px 7px 7px;
        text-align: left;
        width: 460px;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border:none;}

.main .form .p_category { background-color: #fff;
        border-radius: 7px 7px 7px 7px;
        text-align: left;
        width: 460px;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border:none;}

.main .form .date { background-color: white;
        border-radius: 7px 7px 7px 7px;
        text-align: left;
        width: 400px;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border:none;}

.main .form .content { background-color: white;
        border-radius: 7px 7px 7px 7px;
        text-align: left;
        width: 400px;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border:none;}

.main .form .money { background-color: white;
        border-radius: 7px 7px 7px 7px;
        text-align: left;
        width: 400px;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border:none;}

.main .form .input_btn { background-color: white;
        position: relative;
        top: 10px;
        border-radius: 7px 7px 7px 7px;
        width: 200px;
        color: #385723;
        padding: 15px 30px;
        font-size: 16px;
        margin: 4px 2px;
        border: 0;
        outline:0;
        font-weight:bold;}

@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
#main {
    display: block;
    }
}

.format { display: none; }