<!DOCTYPE html>
<html lang="ko">
<head>
	<title>chat-bot</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat_bot.css') }}"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chat_bot.css') }}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
        crossorigin="anonymous" charset='UTF-8'></script>
	<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'chat_bot.js') }}"></script> -->
	<script src="{{ url_for('static', filename = 'js/chat_bot.js') }}"></script>

</head>
<body>
	<header>
		CHASE
	</header>

<div class="chat_wrap">
		<div class="contents">
	    <div class="chat">
	        <ul>
	            <!-- 동적 생성 -->
	        </ul>
	    </div>
		</div>

    <div class="input-div">
        <textarea id="user_say" placeholder="Press Enter for send message."></textarea>
        <input type="button" id="push_btn" value="전송" />
		</div>
    <!-- format -->

    <div class="chat format">
        <ul>
            <li>
                <div class="sender">
                    <span></span>
                </div>
                <div class="message">
                    <span></span>
                </div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>
